body {
  color: white;
  min-width: 768px;
}

.side-navbar {
  background-color: black;
  width: 250px;
  height: 100%;
  position: fixed;

}

#menu {
  color: white;
  list-style: none;
  padding-left: 22px;
}

#menu li:not(:last-child) {
  margin-bottom: 30px;
}

#menu li a {
  color: white;
  text-decoration: none;
}

#logo {
  width: 136px;
  display: block;
  margin: 30px auto 50px auto;
}

.sns-icon {
  text-align: center;
  margin-top: 60px;
}

.sns-icon a:first-child {
  margin-right: 14px;
}

/*메인*/

.main {
  margin-left: 250px;
}

.main .hero_header {
  text-align: center;
  background-image: url("images/hero_header.jpg");
  background-size: cover;
  background-position: center center;
  height: 750px;
  line-height: 750px;
}

.main .info {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

.main h1 {
  margin: 0 0 40px 0;
  color: white;
  font-size: 38px;
}

.main a {
  padding: 10px 40px;
  border: 2px solid white;
  font-size: 18px;
  color: white;
  text-decoration: none;
}