* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 992px;
  font-family: Helvetica,Arial,sans-serif;
}

/*헤더*/
.navbar {
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar #logo {
  /*이미지 앞에 x표시 후 배경색 설정
  background-color: orange;
   */
  line-height: 60px;
}

.navbar #logo img {
  vertical-align: middle;
  margin-left: 30px;
}

.navbar #menu {
  list-style: none;
  float: right;
  padding: 0;
  margin: 0;

  /*수정 전
  display: inline-block;
  position: fixed;
  right: 30px;
   */
}

.navbar #menu li {
  float: left;
  margin-left: 50px;
  line-height: 60px;

  /*기존*/
  text-decoration: none;
  color: #545454;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.navbar #menu li a {
  text-decoration: none;
  color: #545454;
  font-size: 13px;
}


/*배경이미지*/
.hero_header {
  height: 450px;
  background-image: url("images/hero_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*nav*/
nav h1 {
  margin: 60px 0 60px 0;
  font-size: 24px;
  font-weight: bold;
  color: #545454;
  text-align: center;
}

nav img {
  width: 250px;
  height: 250px;
}

.first-nav, .second-nav, .third-nav {
  text-align: center;
}

.products {
  display: inline-block;
  text-align: center;
  margin-bottom: 80px;
  font-size: 16px;
}

.products a {
  color: #545454;
  text-decoration: none;
}

.products img {
  margin-bottom: 20px;
}

.products img:not(:last-child) {
  margin-right: 20px;
}

/*footer*/
.sns-icon {
  margin-top: 40px;
  margin-bottom: 80px;
  text-align: center;
}

.sns-icon img{
  height: 20px;
}

.sns-icon img:not(:last-child) {
  margin-right: 20px;
}